# Test for the mean. Population variance known
## Data scientist salary

Background: You are given the data from the lesson
Task 1: Test the null hypothesis at 10% significance

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

%matplotlib inline

In [2]:
sample_mean=100200 
pop_std=15000
stderr=2739
z_score=-4.67
glassdor_h0=113000

In [3]:
salaries = pd.DataFrame(
    {
        "salaries": [
            117.313,
            104.002,
            113.038,
            101.936,
            84.560,
            113.136,
            80.740,
            100.536,
            105.052,
            87.201,
            91.986,
            94.868,
            90.745,
            102.848,
            85.927,
            112.276,
            108.637,
            96.818,
            92.307,
            114.564,
            109.714,
            108.833,
            115.295,
            89.279,
            81.720,
            89.344,
            114.426,
            90.410,
            95.118,
            113.382,
        ]
    }
)

In [7]:
salaries_normalized = pd.DataFrame(StandardScaler().fit_transform(salaries))
salaries_normalized.describe()

                  0
count  3.000000e+01
mean   1.132427e-15
std    1.017095e+00
min   -1.724372e+00
25%   -8.600980e-01
50%    9.176690e-02
75%    1.013261e+00
max    1.516341e+00